<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


   <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <title>Admin panel</title>
</head>

<body>

<div class="bg-dark d-flex flex-row align-content-center">
    <div class="bg-dark pt-2 pl-3">
<!--        <p class="text-light d-inline"><b th:text="${userauth.username}"></b> with roles:-->
<!--        <p th:each="role : ${userauth.roles}" th:text="${role.role}" class="text-light d-inline pr-1"></p></p>-->
    </div>
    <div class="bg-dark pt-2 pr-3 ml-auto">
        <p>
            <a th:href="@{/logout}" class="text-secondary">Logout</a>
        </p>
    </div>
</div>

<div class="row p-0 m-0">

    <div class="col-2 pt-3 pr-0 pl-0">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a href="/admin" class="nav-link active" id="v-pills-admin-tab" role="tab" aria-controls="v-pills-admin"
               aria-selected="true">Admin</a>
            <a href="/user" class="nav-link" id="v-pills-user-tab" role="tab" aria-controls="v-pills-user"
               aria-selected="true">User</a>

        </div>
    </div>
    <div class="col-10 pt-3 bg-light pr-0">
        <h1 class="pl-3">Admin panel</h1>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" style="border: 1px solid lightgrey" href="#users"
                   data-toggle="tab">Users table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#addUser" data-toggle="tab">New user</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="users" class="tab-pane fade show active">
                <h5 class="p-3 mb-0 border-left border-right rounded-top">All users</h5>
                <div class="p-3">

                    <table class="table table-striped" id="table">

                        <tbody>
                            <thead>
                                <tr class="font-weight-bolder">
                                    <th scope="col">ID</th>
                                    <td scope="col">User name</td>
                                    <td scope="col">Password</td>
                                    <td scope="col">Roles</td>
                                    <td class="text-center" scope="col" colspan="2">Action</td>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                            </tbody>

                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are yuo sure you want to delete the selected record?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="" type="button" class="btn btn-danger" id="deletedId">Delete</a>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/main.js" th:src="@{/js/main.js}"></script>

</body>

</html>